.hero {
    text-align: center;

    .intro {
        font-size: 1.5em;
    }

    .name {
        font-size: 2em;
    }

    .container {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: cenetr;
    }
}
