.mypicture {
    .container {
        width: 100%;
        // height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30vh 0;
    }

    .img {
        // height: 300px;
        width: 300px;
        background-color: $aqua;
    }
}
