@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:wght@400;700&display=swap");
.hero {
  text-align: center;
}

.hero .intro {
  font-size: 1.5em;
}

.hero .name {
  font-size: 2em;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: cenetr;
      -ms-flex-align: cenetr;
          align-items: cenetr;
}

.about .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 0 0;
  -ms-grid-columns: 4px 50px 200px 450px 250px;
      grid-template-columns: 4px 50px 200px 450px 250px;
  -ms-grid-rows: 4px auto auto 4px;
      grid-template-rows: 4px auto auto 4px;
      grid-template-areas: "line1 line1 line1 . ." "line2 . title title img" "line2 . desc desc img" "line3 line3 line3 line3 line3";
}

.about .line1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: line1;
}

.about .line2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: line2;
}

.about .line3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: line3;
}

.about .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: left;
  padding: 50px 0 10px 0;
  font-size: 1.5em;
}

.about .desc {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: desc;
  font-family: "Lato";
  padding: 0 40px 30px 0;
  font-size: 1.2em;
}

.about .desc .text {
  padding-bottom: 10px;
}

.about .img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  grid-area: img;
  max-width: 100%;
  padding-bottom: 40px;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .about .container {
    -ms-grid-columns: 4px 40px 200px 260px 200px;
        grid-template-columns: 4px 40px 200px 260px 200px;
  }
}

@media screen and (max-width: 768px) {
  .about .container {
    padding: 40px 30px 0 30px;
    -ms-grid-rows: 4px auto auto auto 4px;
        grid-template-rows: 4px auto auto auto 4px;
    -ms-grid-columns: 4px 20px 200px 1fr;
        grid-template-columns: 4px 20px 200px 1fr;
        grid-template-areas: "line1 line1 line1 ." "line2 . title title" "line2 . img img" "line2 . desc desc" "line3 line3 line3 line3";
  }
  .about .desc {
    padding: 0 30px 30px 0;
  }
  .about .img {
    width: 60%;
    padding: 20px 0;
  }
}

.portfolio .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -ms-grid-columns: 700px 200px 50px 4px;
      grid-template-columns: 700px 200px 50px 4px;
  -ms-grid-rows: 4px auto auto 80px;
      grid-template-rows: 4px auto auto 80px;
      grid-template-areas: ".     .     . line1" "title title . line1" "boxes boxes . line1" ".     .     . line1";
}

.portfolio .title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: right;
  padding: 50px 0 30px 0;
  font-size: 1.5em;
}

.portfolio .line1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: line1;
}

.portfolio .boxes {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: boxes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.portfolio .boxes .box {
  display: block;
  width: 280px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #d3fff2;
  padding: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  text-decoration: none;
}

.portfolio .boxes .box:hover {
  background: #bfe7dc;
  cursor: pointer;
}

.portfolio .boxes .box .title {
  color: #1c1c1c;
  text-align: center;
  font-size: 1.1em;
  padding: 0 0 16px 0;
  font-family: "Lato";
  font-weight: 600;
}

.portfolio .boxes .box .img {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px #1c1c1c3a;
          box-shadow: 0 4px 8px #1c1c1c3a;
}

.portfolio .boxes .box .date {
  color: #242424ab;
  font-family: "Lato";
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

.portfolio .boxes .box .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.portfolio .boxes .box .tools img {
  height: 32px;
  width: 32px;
  margin: 0 6px;
}

@media screen and (max-width: 1024px) {
  .portfolio .container {
    -ms-grid-columns: 460px 200px 40px 4px;
        grid-template-columns: 460px 200px 40px 4px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio .container {
    padding: 0 30px 0 30px;
    -ms-grid-columns: 1fr 200px 20px 4px;
        grid-template-columns: 1fr 200px 20px 4px;
  }
  .portfolio .boxes .box {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 954px;
  padding: 20px 0;
  margin: 0 auto;
  border-top: 4px solid #f6ff92;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .sosmed {
  text-decoration: none;
  color: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

footer .container .fab {
  font-size: 1.1em;
  margin-right: 10px;
}

footer .container .caption {
  font-size: 0.9em;
}

@media screen and (max-width: 1024px) {
  footer .container {
    width: 704px;
  }
}

@media screen and (max-width: 768px) {
  footer .container {
    width: calc(100% - 60px);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Krona One";
  background: #1c1c1c;
  color: #f6ff92;
}

.line {
  height: 100%;
  width: 100%;
  background: #f6ff92;
}
/*# sourceMappingURL=main.css.map */