// VARIABLES
$myBlue: #0099ff;

.myBlue {
    color: $myBlue;
}

.bg-myBlue {
    background: $myBlue;
}

// IMPORT OTHER
@import "./separator";
@import "./sec1";
@import "./sec3";
@import "./sec4";

// DEFAULT
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}